hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 12px 15px;
}

body {
  // background-color: #f7f7f7;
}

.card-d {
  background-color: #0f4c73;
  color: white;
  width: 40%;
  border-radius: 5px;
  // box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.38);
  display: inline-flex;
  margin: 20px 10px;
  align-self: center;
  min-width: 350px;
  flex-direction: column;
  // box-shadow: 3px -2px 5px -1px rgba(0, 0, 0, 0.75);
  // -webkit-box-shadow: 3px -2px 5px -1px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 3px -2px 5px -1px rgba(0, 0, 0, 0.75);
}

.card-d:hover {
  // background-color: #beebe9;
}

.product-logo {
  // background-color: #202752;
  background-color: #b21f66;
  margin-right: 15px;
  // border-radius: 5px;
  border-radius: 5px 0 0 5px;
  width: 100%;
}

// .product-img {
// }

.product-img img {
  margin: 10px auto;
  display: block;
}

.product-title {
  color: white;
  font-size: 24px;

  h3 {
    text-align: center;
    margin: 12px auto 0 auto;
  }
}

.product-text {
  p {
    margin: auto 20px;
    text-align: justify;
  }
}

.product-btn {
  background-color: green;
}

// CSS DOS DISPLAYS

.acqio-acqua,
.beauty-prestige,
.jahu-odonto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: baseline;
}

.whats {
  text-decoration: none;
}

.whats img {
  // position: fixed;
  // bottom: 15px;
  // right: 15px;
  width: 80px;
  height: 80px;
}

// “Small Devices” (e.g. tablets) are targeted with @media (min-width: 768px) and (max-width: 991px) { ... }.

// Medium Sized Devices (e.g. Desktops) have a screen size smaller than 1200px and greater than 991px, using @media (min-width: 992px) and (max-width: 1199px) { ... }.

// Larger Devices (e.g. wide-screen monitors) are greater than 1200px, targeted using @media (min-width: 1200px) { ... }.

@media (min-width: 768px) {
  .acqio-acqua,
  .beauty-prestige,
  .jahu-odonto {
    flex-direction: row;
  }

  .card-d {
    align-self: auto;
  }
}

@media (min-width: 992px) {
  .acqio-acqua,
  .beauty-prestige,
  .jahu-odonto {
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .card-d {
    flex-direction: row;
    width: 45%;
  }

  .product-logo {
    width: 170px;
  }

  .product-img img {
    margin: 10px;
    width: 150px;
  }
}

// @media (max-width: 760px) {

#acqio {
  // background-color: #20ABF0;
  .img-back {
    background-color: #d4b136;
  }
}
#acquazero {
  // background-color: #3383BA;
  // background-color: #261A42;
  color: white;
  .img-back {
    background-color: #069dd0;
  }
}
#beautycooler {
  // background-color: #F6CCE7;
  .img-back {
    background-color: #ffb0cd;
  }
}
#royal {
  // background-color: #D6D6D5;
  .img-back {
    background-color: #d8d7d7;
    // background-color: #1C599B;
  }
}
#jahu {
  // background-color: #D4B136;
  .img-back {
    background-color: #dbbc40;
  }
}

#caravan {
  // background-color: #EE4B47;
  .img-back {
    background-color: #7de1c0;
  }
}
// }

// Abaixo o CSS do botao. Depois separar num componente

.hot-container p {
  margin-top: 10px;
}
a {
  text-decoration: none;
  margin: 0 10px;
}

.hot-container {
  min-height: 100px;
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

a.btn {
  display: inline-block;
  color: #666;
  background-color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 3px;
}

a.btn:hover {
  background-color: #e3e3e3;
  border-color: rgba(0, 0, 0, 0.5);
}

a.btn:active {
  background-color: #ccc;
  border-color: rgba(0, 0, 0, 0.9);
}

/* blue button */

a.btn.btn-blue {
  background-color: #699db6;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

a.btn.btn-blue:hover {
  background-color: #4f87a2;
  border-color: rgba(0, 0, 0, 0.5);
}

a.btn.btn-blue:active {
  background-color: #3c677b;
  border-color: rgba(0, 0, 0, 0.9);
}

.anuncio {
  color: #0f4c73;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  justify-content: center;
  width: 90%;

  h1 {
    font-weight: bold;
    margin: 20px auto;
  }

  h4,
  h5,
  p {
    align-self: center;
    margin: 20px auto;
  }
}
