
<%# <img src="../assets/images/tt.png" alt=""> %>
<div class="timao_banner">
  <%= link_to image_tag('tt.png') %>
</div>
<div class="timao_menu">
  <ul>
    <li>Home</li>
    <li>70</li>
    <li>80</li>
    <li>90</li>
    <li>2000</li>
    <li>Contato</li>
  </ul>
</div>
<h1>Videos do Corinthians</h1>
<div class="timao_container">
  <div class="grid_row">
    <div class="grid-item">
      <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="grid-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/VJwK5FQzVSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="grid-item">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9TeK_rkX9Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9TeK_rkX9Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9TeK_rkX9Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9TeK_rkX9Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <a href="https://go.hotmart.com/A26960170U" rel="nofollow"><img src="http://unisportbrasil.com.br/banners-ebook-hotmart/curso-futebol-moderno/250x250.jpg" border="0" width="250" height="250" /></a>
  <a href="https://go.hotmart.com/X26962026T" rel="nofollow"><img src="https://i.imgur.com/HLrF04S.png" border="0" width="300" height="250" /></a>
</div>

<h1>Videos do Corinthians</h1>
<html>
  <body>
    <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
  width="560" height="315" frameborder="0" allowfullscreen></iframe>
  </body>
</html>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VJwK5FQzVSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9TeK_rkX9Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9TeK_rkX9Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9TeK_rkX9Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9TeK_rkX9Fk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a href="https://go.hotmart.com/A26960170U" rel="nofollow"><img src="http://unisportbrasil.com.br/banners-ebook-hotmart/curso-futebol-moderno/250x250.jpg" border="0" width="250" height="250" /></a>
<a href="https://go.hotmart.com/X26962026T" rel="nofollow"><img src="https://i.imgur.com/HLrF04S.png" border="0" width="300" height="250" /></a>

